[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine/
[submodule "echfs"]
	path = echfs
	url = https://github.com/echfs/echfs
[submodule "scalable-font2"]
	path = scalable-font2
	url = https://gitlab.com/bztsrc/scalable-font2/
