# Kernel related
*.a
*.o
*.elf
*.map
kernel/parsed.sym
scripts/parsed.sym
MoonOS.hdd
MoonOS.iso

# Limine related
*.bin
*.sys

# VSCode extension
.VSCodeCounter

#Doxygen
html
latex
Doxyfile

#Other
./log.txt
./test
iso