[submodule "limine"]
	path = meta/limine
	url = https://github.com/limine-bootloader/limine
	branch = v7.x-binary
[submodule "meta/firmtool"]
	path = meta/firmtool
	url = https://github.com/TuxSH/firmtool.git
