# Kernel related
*.a
*.o
*.elf
*.map
*.firm
kernel/parsed.sym
scripts/parsed.sym
MoonOS.hdd
MoonOS.iso

# Limine related
limine/*.bin
*.sys

# VSCode extension
.VSCodeCounter
.vscode/

# Other
./log.txt
./test
iso

# Test related
meta/test/build
meta/test/src/test_runners/
*.out