TIMEOUT=5
GRAPHICS=yes
THEME_BACKGROUND=F0000000
THEME_MARGIN=10

:MoonOS
KASLR=no
PROTOCOL=stivale2
KERNEL_PATH=boot:///kernel.elf

## Kernel modules ##
# Required:
MODULE_PATH=boot:///modules/init.elf
MODULE_STRING=init.elf
# Optional:
# ...

# Kernel params:
# 1. verbose_boot - Text will be displayed during boot, if omitted a bootsplash is shown unless a kernel panic occurs.
# 2. vm - The kernel is assuming it's running in a vm and use
# 2. different features such as the vtconsole which would be slow on real hardware.
KERNEL_CMDLINE=verbose_boot,vm